@import 'themeColors';
$theme-font:    verdana, sans-serif;

body {
  font: $theme-font;
  //background-color: map-get($colors,dark);
  background-color: map-get($colors,dark);
  h1, h2 {
      //color: map-get(map-get($colors,primary),light);
      color: white;
  }
}

.poster-title{
  font-size: 2vw;
  text-align: center;
}

.card-container{
    position: relative;
    display: inline-block;
}
.center-top{
  position: absolute;    
  text-align: center;    
  width: 100%;
  z-index: 5;
}
.center-top:before{
  content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.row-cards{
  display:flex;
  position:absolute;
}
.img-container{
  width: 16.6vw;
  height: calc(100vh/5);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.25s;
}
.img-container:hover{
  width: calc(16.6vw*1.5);
  height: calc(100vh/5*1.5);
  margin-top: -5vh;
}
$numRows: 4;
@for $i from 2 through $numRows{
  #row-#{$i}{
    margin-top: 25vh;
  }
}